* {
    box-sizing: border-box;
}

.btn-outline-success {
    color: gray;
    border: 1px solid gray;
}

.jumbotron{
    background-image: url("../img/pizza.png");
    width: 100%;
}
 #signuplink {
    list-style-type: none;
}

 #signuplink a {
     color:gray;
 }

.display-4 {
    background-color: #F9F9F9;
    opacity: .75;
}
