* {
    box-sizing: border-box;
}


.btn-outline-success {
    color: gray;
    border: 1px solid gray;
}

.jumbotron{
    background-image: url("../img/pizza.png");
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    width: 100%;
}
 #signuplink {
    list-style-type: none;
}

 #signuplink a {
     color:gray;
 }

.container {
    /*width: 100%;*/
}
.display-4 {
    background-color: #F9F9F9;
    opacity: .75;
}

.nav-tabs li {
    /*padding: 10px;*/
}