/*for default screen size -  MOBILE DEVICES*/
body {
    margin: 0;
}

.box {
    width: 150px;
    height: 150px;
    padding: 25px;
    border: 1px solid black;
    background-color: teal;
    margin: 5px;
}

/*iphone in landscape*/
@media screen and (min-width: 768px) {
    body {
        background-color: yellow;
    }
}

/*desktop*/
@media screen and (min-width: 992px ) {
    .box {
        background-color: lime;
    }
}

/*large screens*/
@media screen and (min-width: 1200px) {
    .box {
        background-color: purple;
    }
}

/*!*for smaller desktops & tablets (ie iPad)*!*/
/*@media screen and (max-width: 1024px) {*/
/*    .box {*/
/*        background-color: yellow;*/
/*    }*/
/*}*/

/*!*for mobile devices like smart phones, look up specific breakpoints*!*/
/*@media screen and (max-width: 768px) {*/
/*    body {*/
/*        background-color: red;*/
/*    }*/
/*    .box {*/
/*        background-color: blue;*/
/*    }*/
/*}*/


